<h2>Radio</h2>

<form class="js-submit" action="/forms" method="post">
  <!-- your code here -->
  <button type="submit">Submit</button>
</form>

<script type="text/javascript">
  $(".js-submit").on("submit", function(event){
    event.preventDefault();
  });
</script>
